html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:beige;
}
    body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* A teljes viewport magasság */
}
.content {
    padding: 20px;
    margin-bottom: 60px;
} 
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: beige;
    text-align: center;
    padding: 10px;
    z-index: 100;
} 

h1{
    padding: 10px;
    text-align: center;
}
h2{
    margin-left: 5em;
    padding: 10px;
}

ul{
        list-style-type: none;
}

.content {
    padding: 20px;
    margin-bottom: 60px;
} 
.title{
    text-align: center;
}

.tartalom{
    text-align: center;
}

#tartalom1{
    content: relative;
    margin-left: 8em;
    margin-right: 8em;
}

.navbar {
    width: 80%; /* A navbar szélessége */

}

.navbar ul {
    list-style-type: none;
    text-align: left; /* Balra igazítja a listát */
}

.navbar ul li {
    display: inline-block;
    margin-right: 20px;
}

.navbar ul li:last-child {
    margin-right: 0;
}

.navbar ul li a {
    color: black; /* A szöveg színe fekete */
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
}

.navbar ul li a:hover {
    color: rgb(29, 126, 210); /* Színváltás hover effekt esetén */
}
.h1p{
    padding-left: 50px;
    padding-right: 50px;
}